:root {
  --primary-color: #fff9f4;
  --secondary-color: #c99a8f;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(20, 73, 72, 0.7) 0%,
      rgba(14, 53, 52, 0.7) 100%
    ),
    url(/images/nour-cats-grainy.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  border-bottom: var(--secondary-color) solid 0.5px;
  margin: 10px 40px 0;
}

nav li {
  display: inline;
  list-style: none;
}

nav li.active a {
  color: var(--secondary-color);
}

nav li.active a:hover {
  font-style: normal;
}

nav a {
  font-family: "amandine", sans-serif;
  color: var(--primary-color);
  margin-right: 40px;
}

nav a:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

.logo {
  color: var(--primary-color);
  text-align: left;
  font-family: "amandine", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 6.4px;
  margin-left: 80px;
}

.navbar-toggler {
  border-color: var(--secondary-color);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 249, 244)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

h1 {
  color: var(--primary-color);
  text-align: center;
  font-family: "amandine", sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 200;
  line-height: 1;
  letter-spacing: 7.2px;
}

h2 {
  color: var(--secondary-color);
  text-align: center;
  font-family: "amandine", sans-serif;
  font-weight: 200;
  font-style: italic;
  font-size: 40px;
  line-height: 1;
  letter-spacing: 4px;
}

h1.about-title {
  font-size: 60px;
}

#homepage header {
  margin-top: 30px;
}

.description {
  color: var(--primary-color);
  text-align: left;
  font-family: "Profile Pro";
  font-size: 24px;
  font-style: normal;
  font-weight: 200;
  height: 100%;
  padding: 25px;
  padding-left: 15%;
}

.description-highlights {
  font-style: italic;
}

hr {
  background-color: var(--primary-color);
  opacity: 60%;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
  text-decoration: none;
}

.body-homepage {
  margin-bottom: 80px;
}

.main-navigation {
  color: var(--primary-color);
  font-family: "amandine", sans-serif;
  font-size: 6em;
  font-style: normal;
  font-weight: 300;
  justify-content: center;
  line-height: 1.5em;
  letter-spacing: 9.6px;
  padding-right: 15%;
}

.main-navigation:hover {
  font-family: "amandine", sans-serif;
  font-style: italic;
  cursor: pointer;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

footer {
  display: block;
  margin: 0 auto;
  border-top: var(--secondary-color) solid 0.5px;
  height: 60px;
  color: var(--secondary-color);
  padding-top: 15px;
  width: 90%;
  margin-top: auto;
}

.footer-element {
  padding: 4px;
}

.footer-link {
  color: var(--secondary-color);
}

.footer-link:hover {
  cursor: pointer;
}

.border-primary {
  border-color: var(--secondary-color) !important;
}

.about-section {
  margin: 40px 0;
  padding: 0 100px;
}

@media (min-width: 992px) {
  #homepage main {
    margin-top: 8%;
  }

  hr {
    width: 60%;
    margin-left: 0;
    margin-top: 30px;
  }

  .description {
    font-size: 1.2em;
    padding-left: 8%;
    padding-right: 8%;
  }

  .main-navigation {
    font-size: 5.5em;
    padding-right: 8%;
    padding-left: 8%;
    margin-right: 60px;
  }

  h1.about-title {
    font-size: 50px;
    padding-top: 30px;
  }

  div.row.align-items-center.about-section {
    padding: 0 50px;
    margin-top: 100px;
  }
}

@media (max-width: 992px) {
  #homepage header {
    margin-top: 10px;
  }

  #homepage main {
    margin-top: 8%;
  }

  h1 {
    padding-top: 20px;
    font-size: 50px;
  }

  h1.about-title {
    font-size: 30px;
  }

  h2 {
    font-size: 24px;
  }

  #homepage .description {
    font-size: 14px;
    text-align: center;
    justify-content: center;
    margin: 0 100px 40px;
    padding: 0;
  }

  #about-page .description {
    font-size: 1.1em;
    text-align: left;
    justify-content: center;
    padding: 0;
  }

  .about-section {
    margin-top: 30px;
    width: 100%;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 4%;
  }

  hr {
    margin-top: 20px;
    width: 40%;
    margin-left: auto;
  }

  .main-navigation-block {
    margin-bottom: 0;
  }

  .main-navigation {
    margin: 30px 0 0 0;
    font-size: 3em;
    padding-right: 0;
  }

  .main-navigation:click {
    font-family: "lust-sans", sans-serif;
    font-style: italic;
  }

  nav {
    margin: 0;
  }

  a.navbar-brand.logo {
    margin-left: 60px;
    padding-bottom: 0;
  }

  button.navbar-toggler.custom-toggler {
    margin-right: 40px;
  }

  nav.navbar.navbar-expand-lg {
    padding: 0;
  }

  a.nav-link {
    margin: 0 30px;
    text-align: right;
  }
}

@media (max-width: 576px) {
  #homepage header {
    margin-top: 10px;
  }

  #homepage main {
    margin-top: 7%;
  }

  h1 {
    font-size: 45px;
  }

  h1.about-title {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .main-navigation {
    margin: 10px 0 0 0;
    font-size: 3em;
    padding-right: 0;
  }
}
